API_HOST=0.0.0.0
API_SERVER_URL="http://localhost:7000"
API_PORT=7000
GIN_MODE=debug
API_PREFIX=texapp

API_DEBUG=true # true or false
API_SECRET="KANCWEUIHN9U23d32d4"# change this
SYSTEM_HEADER="X-System-Token" # For WS system notification
SYSTEM_SECRET="hjklghIGHUOHY9HnjKNjGHG567YG5RT_-GV6F++21@GFV5YVFU76FBGBGBHNGFCVHjgHfYHGVJjN.SS54EF6V5vV65F6F5B5V65VVB6&GNFHGF"

# For windows use this format without double quotes: D:\\Codes\\golang\\

UPLOAD_PATH="/home/user/uploads/" #server's uploads folder (absolute path)
MAX_FILES_UPLOAD=6
MAX_FILE_SIZE=50 #Mb
COMPRESS_IMAGES=1
COMPRESS_SIZE=1440
COMPRESS_QUALITY=75

ENCRYPT_PASSWORDS=false # true or false

DB_HOST=localhost # postgres server host
DB_PORT=5432 # postgres server port
DB_USER=postgres # postgres user
DB_PASSWORD=123456 # postgres password
DB_NAME=db_tex # database name
DB_SCHEMASDIR=schemas

ACCESS_KEY=123 # access token's secret key
ACCESS_TIME=1h # access token's expiration time
REFRESH_KEY=333 # refresh token's secret key
REFRESH_TIME=1h # refresh token's expiration time

APP_TZ="Asia/Ashgabat"
TZ_ADD_HOURS=0h

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_MAIL=example@gmail.com
SMTP_PASSWORD="abcd efgc cdgd ggnd"
APP_LOGO_URL="https://x.co/l.png"

OTP_SERVICE_ROUTE="https://texexpress.pro/otp/otp/send-code"
OTP_SERVICE_TEXT="Ваш OTP для вхова в TEXEXPRESS: "

GLE_KEY="1111.apps.googleusercontent.com"
GLE_MOBILE_CLIENTID="1111111.apps.googleusercontent.com"
GLE_SECRET="1111"
GLE_CALLBACK="http://localhost:7000/texapp/auth/google/callback/"

